* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background: radial-gradient(circle at center, #217dbb, #000);
    border-radius: 10px;
  }
  
  .text-content {
    width: 40%;
    color: #fff;
  }
  
  .additional-text {
    width: 40%;
    color: #fff;
  }
  
  h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 1.1em;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #444;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #666;
  }