* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://s3-alpha-sig.figma.com/img/e9c0/ce48/06728062e3721e12b38b495b488c174d?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=m4XOHmOk1FShrWxJK6JMlA1Qh7b9Zyhw4DHBrSMP1kR6G7pXoL0q-hdf7FygIQcABnVlcSwOdW1ZBA2Tq2omSqNKNP476ScuaXBD-emXfBmWt~UmmPfbRk6KC-g8z70eBQQ1uSHaMheqp5LqG0h1CJmqAbb9MxptuFJmkKFNEh6X7joG8f~XJQ1n1M3~lemgkhmEG4jMCFPTc7MuQ1AKyATANgDzWwkVs37vk2m~k5PUC5~qTjIhJcIOgeex4CVqtkuicYL8FfTostdXa5XTXD62pH-hg2G6t-9D0GMjqwZJa~~Hzfq9wzSxiWJBq7zwi3Gsmm6ELTsjgq4km9bSTQ__');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-content {
    position: relative;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #444;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #666;
}